<h1><%= @restaurant[:name] %></h1>

<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure you wangt to delete this?"} %>

<%= link_to "Edit", edit_restaurant_path %>
